In [1]:
from src.runner import preprocess
preprocess()

/Users/Hanita/Library/Python/3.12/lib/python/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Processing Center for Advanced Life Cycle Engineering cells: 100%|██████████| 7/7 [00:01<00:00,  3.86it/s]

0 processed, 7 skipped

Processing Hawaii Natural Energy Institute cells: 100%|██████████| 15/15 [00:04<00:00,  3.71it/s]

0 processed, 15 skipped

Processing Oxford cells: 100%|██████████| 8/8 [00:00<00:00, 20725.41it/s]

0 processed, 8 skipped

Processing Oak Ridge National Lab cells: 100%|██████████| 253/253 [00:01<00:00, 146.72it/s]

0 processed, 253 skipped

Processing Sandia National Lab cells: 100%|██████████| 30/30 [00:01<00:00, 21.76it/s]
Processing Sandia National Lab cells: 100%|██████████| 24/24 [00:00<00:00, 264.87it/s]
Processing Sandia National Lab cells: 100%|██████████| 32/32 [00:00<00:00, 186.15it/s]

0 processed, 86 skipped

Processing Underwriters Lab - Purdue University cells: 100%|██████████| 22/22 [00:01<00:00, 11.82it/s]

0 processed, 22 skipped

In [2]:
from src.preprocessing.battery_data import BatteryData
oxford_data = BatteryData.load('data/preprocessed/oxford/OX_1-1_pouch_LCO_40C_0-100_2-1.84C_a_timeseries.pkl')
oxford_data.print_description()
ts = next(t for t in oxford_data.timeseries_data)
ts.display()

**************description of battery cell OX_1-1_pouch_LCO_40C_0-100_2-1.84C_a_timeseries**************
cell_id: OX_1-1_pouch_LCO_40C_0-100_2-1.84C_a_timeseries
organization: oxford
timeseries_data: [<src.preprocessing.battery_data.TimeseriesData object at 0x337a0c290>]
is_healthy: True
battery_type: LCO
anode_material: graphite
cathode_material: LCO
nominal_capacity_in_Ah: 0.72
form_factor: pouch

            Time (s)  Temp (°C)
0       0.000000e+00     40.026
1       9.990000e-01     40.051
2       1.999000e+00     39.988
3       2.999000e+00     39.976
4       3.999000e+00     39.964
...              ...        ...
460376  5.518128e+07     40.737
460377  5.518128e+07     40.750
460378  5.518128e+07     40.688
460379  5.518128e+07     40.725
460380  5.518128e+07     40.750

[460381 rows x 2 columns]

In [3]:
from src.preprocessing.battery_data import BatteryData
filename = 'data/preprocessed/oakridge/SNL_LFP_Graphite_10Ah_100SOC_b.pkl'
data = BatteryData.load(filename)
data.print_description()
ts = next(t for t in data.timeseries_data)
ts.display()

**************description of battery cell SNL_LFP_Graphite_10Ah_100SOC_b**************
cell_id: SNL_LFP_Graphite_10Ah_100SOC_b
organization: oakridge
timeseries_data: [<src.preprocessing.battery_data.TimeseriesData object at 0x3379ba8d0>, <src.preprocessing.battery_data.TimeseriesData object at 0x176685c70>, <src.preprocessing.battery_data.TimeseriesData object at 0x176685b20>, <src.preprocessing.battery_data.TimeseriesData object at 0x10a1ae330>, <src.preprocessing.battery_data.TimeseriesData object at 0x173c7cbc0>, <src.preprocessing.battery_data.TimeseriesData object at 0x173c7f710>]
is_healthy: False
state_of_charge: 100
battery_type: (None,)
anode_material: graphite
cathode_material: LFP
nominal_capacity_in_Ah: 10.0
form_factor: cylindrical_18650

          Time (s)  Temp (°C)
0         0.000000  22.364101
1         0.099609  22.358707
2         0.199219  22.365358
3         0.298828  22.381090
4         0.398438  22.315783
...            ...        ...
38712  3856.078125  29.106949
38713  3856.177734  29.090010
38714  3856.277344  29.108253
38715  3856.376953  29.104151
38716  3856.465820  29.110058

[38717 rows x 2 columns]